@model ProjectNews_ASP.NET_Core_Mvc.Models.ContactUs

<div class="container" style="margin-top:25px;margin-bottom:25px">
    <div class="col-sm-10">
        <form asp-controller="Home" asp-action="SaveContact" method="post" data-aos="fade-up" data-aos-delay="50">
            <div class="row gy-4">
                <div class="col-md-6">
                    <input type="text" asp-for="Name" required class="form-control" placeholder="Your Name" >
                </div>
                <div class="col-md-6 ">
                    <input type="email" class="form-control" required asp-for="Email" placeholder="Your Email">
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" required asp-for="Subject" placeholder="Subject" >
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" asp-for="Message"  required rows="4" placeholder="Message"></textarea>
                </div>
                <div>
                    <button class="btn btn-success" type="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>