

@model List<ContactUs>
<section id="testimonials" class="testimonials section ">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>اراء المستخدمين</h2>
 <center>
       @foreach(var item in Model){
            <div class="swiper-slide swiper-slide-next " role="group" aria-label="3 / 5" style="width: 75%; margin-right: 40px;" data-swiper-slide-index="2" >
                <div class="testimonial-item col-10" >
                    <p style="font-size:30px " >@item.Subject</p>
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                            <span> @item.Message</span>
                       <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                        <img src="~/assets/img/testimonials/qqq.png" class="testimonial-img" alt="">
                    <h3>@item.Name</h3>
                    <h4>@item.Email</h4>
                </div>

            </div>
           
            <hr />
       }

        </center>
    </div>

</section>